language: cpp
sudo: required
dist: trusty

os: 
  - linux
  - osx

compiler:
  - g++
  - clang++

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi

script:
  - mkdir build && cd build
  - cmake ..
  - make
  - cd .. && rm -r ./build

